<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.engineeringnotes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sub3.AUTDESIGN"></activity>
        <activity android:name=".sub3.AUTELENICS" />
        <activity android:name=".sub3.TOAL" />
        <activity android:name=".sub3.LMV" />
        <activity android:name=".sub3.AUTOMOTIVE" />
        <activity android:name=".sub3.COMPONENT" />
        <activity android:name=".sub3.METROLOGY" />
        <activity android:name=".sub3.OPERRE" />
        <activity android:name=".sub3.ENTER" />
        <activity android:name=".sub3.GEO" />
        <activity android:name=".sub3.ENVIRO1" />
        <activity android:name=".sub3.WATER" />
        <activity android:name=".sub3.THEORY2" />
        <activity android:name=".sub3.THEORT1" />
        <activity android:name=".sub3.STRDEDRAW" />
        <activity android:name=".sub3.FLUID2" />
        <activity android:name=".sub3.ASURVEY" />
        <activity android:name=".sub3.TRANSENGG" />
        <activity android:name=".sub3.COMMNW" />
        <activity android:name=".sub3.MICROPC" />
        <activity android:name=".sub3.DIGICOMM" />
        <activity android:name=".sub3.CONTRSYS" />
        <activity android:name=".sub3.VOICE" />
        <activity android:name=".sub3.SWLAB4" />
        <activity android:name=".sub3.SWLAB3" />
        <activity android:name=".sub3.VLSC" />
        <activity android:name=".sub3.ANTENNA" />
        <activity android:name=".sub3.DIGITALS" />
        <activity android:name=".sub3.CELLULAR" />
        <activity android:name=".sub3.INDUSTELE" />
        <activity android:name=".sub3.COMAIDE" />
        <activity android:name=".sub3.HEATMASS" />
        <activity android:name=".sub3.METALCUT" />
        <activity android:name=".sub3.POWERPE" />
        <activity android:name=".sub3.OPERMANAGE" />
        <activity android:name=".sub3.FEMLAB" />
        <activity android:name=".sub3.OPENELE" />
        <activity android:name=".sub3.DEPTELE" />
        <activity android:name=".sub3.VIBRATION" />
        <activity android:name=".sub3.ICEN" />
        <activity android:name=".subcs2.CP2" />
        <activity android:name=".subcs2.FUNDECOACC" />
        <activity android:name=".subCV2.NWSYSTEM" />
        <activity android:name=".subCV2.ELECDEVICE" />
        <activity android:name=".subCV2.ECE" />
        <activity android:name=".subCV2.SIMULATION" />
        <activity android:name=".subCV2.ANACIR" />
        <activity android:name=".subCV2.CONTROLS" />
        <activity android:name=".subCV2.ANALOGC" />
        <activity android:name=".subCV2.SIGNAL" />
        <activity android:name=".subCV2.THERMALLAB" />
        <activity android:name=".subCV2.MATERIALTECH" />
        <activity android:name=".subCV2.THEMODYNAMICS" />
        <activity android:name=".subCV2.MANUTECH" />
        <activity android:name=".subCV2.FLUIDMECHANICS" />
        <activity android:name=".subCV2.MACHENICS" />
        <activity android:name=".subCV2.INSTRUMENT" />
        <activity android:name=".subCV2.MANUFACT" />
        <activity android:name=".subCV2.SWLAB" />
        <activity android:name=".subCV2.GEOLOGY" />
        <activity android:name=".subCV2.TRANSEGG1" />
        <activity android:name=".subCV2.STRANA1" />
        <activity android:name=".subCV2.CONSTECH" />
        <activity android:name=".subCV2.ENERGYE" />
        <activity android:name=".subCV2.SHISTRYA" />
        <activity android:name=".subCV2.STRENTH" />
        <activity android:name=".subCV2.BUILD" />
        <activity android:name=".subCV2.SURVEY" />
        <activity android:name=".subCV2.CONSMAT" />
        <activity android:name=".sub1.MANUF" />
        <activity android:name=".sub1.SKILL" />
        <activity android:name=".subcs2.OS" />
        <activity android:name=".subcs2.DBMS" />
        <activity android:name=".subcs2.DACOM" />
        <activity android:name=".subcs2.CGRAPHIC" />
        <activity android:name=".subcs2.MATH3" />
        <activity android:name=".subcs2.DIGITALE" />
        <activity android:name=".subcs2.MICRO" />
        <activity android:name=".subcs2.OOPS" />
        <activity android:name=".subcs2.COMARCHI" />
        <activity android:name=".subcs2.DSTR" />
        <activity android:name=".subcs2.DCMATH" />
        <activity android:name=".sub1.ENVIRONMENT" />
        <activity android:name=".sub1.HST" />
        <activity android:name=".sub1.WORKS" />
        <activity android:name=".sub1.DPRES" />
        <activity android:name=".sub1.CP1" />
        <activity android:name=".sub1.BCAE" />
        <activity android:name=".sub1.BEEE" />
        <activity android:name=".sub1.BME" />
        <activity android:name=".sub1.EGRAPH" />
        <activity android:name=".sub1.BCVE" />
        <activity android:name=".sub1.PHYS" />
        <activity android:name=".sub1.CHEMY" />
        <activity android:name=".sub1.MATH2" />
        <activity android:name=".sub1.MATH1" />
        <activity android:name=".branch.EC4" />
        <activity android:name=".branch.EC2" />
        <activity android:name=".branch.EC1" />
        <activity android:name=".branch.AU4" />
        <activity android:name=".branch.AU2" />
        <activity android:name=".branch.AU1" />
        <activity android:name=".branch.MCH4" />
        <activity android:name=".branch.MCH2" />
        <activity android:name=".branch.MCH1" />
        <activity android:name=".branch.CV4" />
        <activity android:name=".branch.CV2" />
        <activity android:name=".branch.CV1" />
        <activity android:name=".branch.CS1" />
        <activity android:name=".branch.EC3" />
        <activity android:name=".branch.AU3" />
        <activity android:name=".branch.MCH3" />
        <activity android:name=".branch.CV3" />
        <activity android:name=".branch.CS4" />
        <activity android:name=".branch.CS3" />
        <activity android:name=".branch.CS2" />
        <activity android:name=".branch.IT4" />
        <activity android:name=".branch.IT2" />
        <activity android:name=".branch.IT3" />
        <activity android:name=".subject.cn" />
        <activity android:name=".subject.py" />
        <activity android:name=".subject.daaoa" />
        <activity android:name=".subject.ds" />
        <activity android:name=".subject.is" />
        <activity android:name=".subject.ism" />
        <activity android:name=".subject.nlp" />
        <activity android:name=".subject.se" />
        <activity android:name=".subject.ceal" />
        <activity android:name=".subject.softcomp" />
        <activity android:name=".branch.IT1" />
        <activity android:name=".notes" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>